h1 {
   font-size: 18pt;
   font-family: calibri, arial, sans serif;
}


.axis path, .axis line {
    fill: none;
    stroke: black;

}

.axis text {
   font-family: calibri, sans serif;
   font-size: 10pt;
}

.btn {
  width: 100px;
  font-family: calibri, sans serif;
  padding: 10px;
  border: solid 1px black;
  color: white;
}

#new {
  background-color: purple;
}

#old {
  background-color: red;
}


#old {
	background-color: red;
}

#new {
	background-color: purple;
}


*
  box-sizing: border-box

html, body
  background-color: #222
  margin: 0
  padding: 0
  height: 100%

  
//
// Flexbox
//
.u-flex-center
  display: -webkit-box
  display: -webkit-flex
  display: -ms-flexbox
  display: flex
  -webkit-box-align: center
  -webkit-align-items: center
  -ms-flex-align: center
  align-items: center
  height: 24em
  -webkit-box-pack: center
  -webkit-justify-content: center
  -ms-flex-pack: center
  justify-content: center
  height: 100%

//
// Ratio
//
.u-ratio
  position: relative
  width: 100%

  &:before
    display: block
    content: ""
    padding-top: 100%

.u-ratio__content
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  width: 100%
  height: 100%

.u-ratio--2_1:before
  padding-top: 50%

.u-ratio--1_2:before
  padding-top: 200%

.u-ratio--4_3:before
  padding-top: 75%

.u-ratio--16_9:before
  padding-top: 56.25%

//
// Others
//
.u-svg-fluid
  display: block
  margin: 0 auto
  height: 100%

.u-full-width
  width: 100%

.u-full-height
  height: 100%

//
// Radar chart plugin
//
.radar-chart .level
  stroke: white
  stroke-width: 0.5


.radar-chart .axis line
  stroke: white
  stroke-width: 1

.radar-chart .axis .legend
  font-family: sans-serif
  font-size: 10px
  fill: #fff

.radar-chart .axis .legend.top
  dy: 1em

.radar-chart .axis .legend.left
  text-anchor: start

.radar-chart .axis .legend.middle
  text-anchor: middle

.radar-chart .axis .legend.right
  text-anchor: end


.radar-chart .tooltip
  font-family: sans-serif
  font-size: 13px
  transition: opacity 200ms
  opacity: 0

.radar-chart .tooltip.visible
  opacity: 1


/* area transition when hovering */
.radar-chart .area
  stroke-width: 2
  fill-opacity: 0.5

.radar-chart.focus .area
  fill-opacity: 0.1

.radar-chart.focus .area.focused
  fill-opacity: 0.7


.radar-chart .circle
  fill-opacity: 0.9


/* transitions */
.radar-chart .area, .radar-chart .circle
  transition: opacity 300ms, fill-opacity 200ms
  opacity: 1

.radar-chart .d3-enter, .radar-chart .d3-exit
  opacity: 0
  
  
// 
// The Wheel component
//
.the_wheel
  height: 100%
  text-align: center

  .radar-chart-serie0
    fill: purple
    stroke: purple

  .radar-chart-serie1
    fill: red
    stroke: red
   
.the-wheel__chart



  max-width: 700px
  margin: 0 auto
  





  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  body {
    min-height: 100vh;
    background: #142433;
    background: #0c1620;
    color: #ffffff;
  }
  /* center the div wrapping the visualization and cap its width */
  .viz {
    width: 90vw;
    max-width: 650px;
    margin: 0 auto;
    padding: 0.5rem 0.75rem;
    font-family: "Lato", sans-serif;
  }
  /* separate the svg directly nested in the .viz container (the legend and the grid) from one another */
  .viz > svg {
    margin: 2rem;
    display: block;
    width: 100%;
    height: auto;
  }

  